/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  background-image: linear-gradient(180deg, #FF79DA, #9356DC);
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 225px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 35px;
  color: white;
}
.button--pages {
  width: 185px;
  margin-top: 45px;
}
.button:hover {
  background-color: #a978e3;
  background-blend-mode: lighten;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translate(-5px, -5px);
  transition: transform 150ms;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 27px 0 40px 0;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  margin: 0 0 0 25px;
  font-size: 1.2em;
  color: white;
}
.footer__link {
  margin-left: 25px;
  margin-top: 13px;
}
.footer--pages {
  margin-top: -50px;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  text-align: center;
  padding: 23px 0 7px 0;
}
.header__image {
  width: 165px;
}

.header_pages {
  justify-content: center;
  align-content: center;
  height: 45px;
  padding-top: 20px;
}
.header_pages__back {
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}

.pub {
  background-color: #F6F6F6;
  padding-bottom: 60px;
  padding-top: 42px;
}
.pub__text {
  text-align: center;
}
.pub__title {
  margin: 0 50px 20px 45px;
  font-weight: bolder;
  font-size: 1.5em;
}
.pub__subtitle {
  margin: 0 20px 0 20px;
  font-size: 1.1em;
}

.subheader {
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.445);
}
.subheader__text {
  font-weight: bold;
}

.subheader_pages img {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  background-color: #F6F6F6;
  position: relative;
  top: -50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 100px;
}
.container__title {
  font-size: 1.8em;
  padding-top: 30px;
}

.pages__heart {
  position: relative;
  left: 60px;
  font-size: 0.9em;
}
.pages__heart__empty {
  opacity: 1;
  position: absolute;
  right: 0;
}
.pages__heart__full {
  transform: scale(0);
  transition: transform 500ms;
  position: absolute;
  right: 0;
  transform-origin: bottom;
}
.pages:hover .pages__heart__full {
  transform: scale(1);
}

h1, h2, h3, p, a, span, .button {
  font-family: "Roboto", sans-serif;
}

.container__title h1 {
  font-family: "Shrikhand", cursive;
}

a {
  outline: none;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:link {
  color: white;
}

.fa-gradient {
  background-image: linear-gradient(60deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.flex {
  display: flex;
}

.menu__part__title {
  text-transform: uppercase;
  margin-top: 37px;
}
.menu__part__title::after {
  content: "";
  display: block;
  width: 45px;
  padding-top: 6px;
  border-bottom: 2px solid #99E2D0;
}
.menu__content {
  margin: 13px -5px 0 -5px;
  background-color: white;
  height: 70px;
  border-radius: 15px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.menu__content__title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 15px 10px 10px 10px;
}
.menu__content__subtitle {
  padding: 0 0 0 10px;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}
.menu__content__price {
  font-weight: bold;
  padding-right: 20px;
  padding-left: 10px;
}
.menu__content__pop1 {
  animation: menu_pop 1000ms;
}
.menu__content__pop2 {
  animation: menu_pop 1500ms;
}
.menu__content__pop3 {
  animation: menu_pop 2000ms;
}
.menu__content__pop4 {
  animation: menu_pop 2500ms;
}
.menu__content__left {
  width: 0;
  flex-grow: 1;
  transition: flex-grow 500ms;
}
.menu__content__right {
  width: 15%;
  height: 69x;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -65px;
  transition: margin-right 700ms;
}
.menu__content__right i {
  color: white;
  font-size: 1.5em;
  height: 20px;
}
.menu__content__inline {
  justify-content: space-between;
}
.menu__content:hover .menu__content__left {
  width: 250px;
}
.menu__content:hover .menu__content__right {
  margin-right: 0px;
  transition: margin-right 500ms;
}
.menu__content:hover .menu__content__right i {
  animation: spin 1000ms;
}

.section {
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}
.section--fonctionnement {
  padding-bottom: 20px;
}
.section__title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 50px 0 0 0;
}
@media screen and (min-width: 1024px) {
  .section__title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.section .stage {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .section .stage {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}
.section .stage__content {
  margin: 30px 0 0 0;
  background-color: #F6F6F6;
  height: 70px;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 1024px) {
  .section .stage__content {
    height: 90px;
    width: 300px;
  }
}
.section .stage__content--1:hover {
  background-color: #e4d5f6;
}
.section .stage__content--2:hover {
  background-color: #e4d5f6;
}
.section .stage__content--3:hover {
  background-color: #e4d5f6;
}
.section .stage__number {
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: -10px;
  background-color: #9356DC;
  border: solid 1px #9356DC;
  border-radius: 50%;
  padding: 5px;
}
.section .stage__icon {
  color: grey;
}
.section .stage__text {
  font-weight: bold;
}
.section--restaurants {
  padding-top: 10px;
  padding-bottom: 65px;
  margin: 50px 0 0 0;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .section--restaurants {
    gap: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section .restau {
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  height: 250px;
  object-fit: cover;
  margin: 20px 0 0px 0;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 1024px) {
  .section .restau {
    width: 35%;
  }
}
.section .restau:hover {
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translate(-5px, -5px);
  transition: transform 150ms;
}
.section .restau__image img {
  object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.section .restau__content {
  margin: 20px 10px 0 10px;
}
.section .restau__new {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  border: solid 1px #99E2D0;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
}
.section .restau__title {
  font-weight: bold;
  font-size: 1.2em;
}
.section .restau__text {
  margin: 5px 0 0 0;
  font-size: 1.1em;
}
.section .restau__heart {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 1.5em;
}
.section .restau__heart__empty {
  opacity: 1;
}
.section .restau__heart__full {
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: bottom;
}
.section .restau__heart:hover .restau__heart__full {
  transform: scale(1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes menu_pop {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
@keyframes slider {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*# sourceMappingURL=style.css.map */
