.button{
    background-image: $background-gradient;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 225px;
    border: none;
    border-radius: 30px;
    @include shadow;
    margin-top: 35px;
    color: white;
    &--pages{
        width: 185px;
        margin-top: 45px;
    }
    &:hover{
        background-color: lighten(#9356dc, 8%);
        background-blend-mode: lighten;
        box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        cursor: pointer;
        transform: translate(-5px, -5px);
        transition: transform 150ms;
    }
}
