@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin relief {
    box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
    cursor: pointer;
    transform: translate(-5px, -5px);
    transition: transform 150ms;
}